.deriv-platform-switcher {
    &__button {
        padding-inline-start: 1.6rem;
        padding-inline-end: 1.6rem;

        &-chevron {
            margin-inline-start: 3.2rem;

            svg > g > path,
            > path {
                fill: var(--text-prominent);
            }
        }
    }
}
