.notifications__wrapper {
    padding-inline-start: 0.5rem;
    border-inline-start: 1px solid var(--general-section-1);
    border-width: 1px;
    margin-inline-end: 1rem;

    &--desktop {
        z-index: 10;
        top: 5rem;
        right: 20rem;
        position: absolute;
    }
}
