@use 'components/shared/styles/themes' as *;
@import 'https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese';

body {
    font-family: 'IBM Plex Sans', sans-serif;
}
