@use 'components/shared/styles/devices' as *;

.db-summary-card--inactive {
    display: flex !important;
    color: var(--text-general);
    font-size: 14px;
    justify-content: center;
    margin: auto;
    padding: 0 3rem;
    text-align: center;
}

.summary {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, var(--general-section-2) 0%, rgb(242 243 244 / 0%) 80%);
    width: 100%;

    @include desktop-screen {
        width: 100%;
    }

    &--inactive {
        color: var(--text-general);
        font-size: 14px;
        justify-content: center;
    }

    &__tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 24px 0;
    }

    &__tile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0.4rem;
        width: 32%;
        max-width: 32%;
        text-align: center;
        background-color: var(--general-section-1);
        padding: 8px 8px 0;
        margin-bottom: 2%;
        height: 56px;

        &-title {
            height: 18px;
            margin-bottom: 4px;
        }

        &-content {
            height: 18px;
            margin-bottom: 4px;
        }
    }

    &--completed {
        border: 1px solid var(--general-main-1);

        &:hover {
            border: 1px solid var(--border-disabled);
        }
    }

    &--delayed-loading {
        align-items: center;
    }

    .dc-contract-card {
        padding: 1.6rem 1.6rem 0.8rem;

        &-message {
            margin: 0 3rem;
        }
    }

    .dc-contract-card__grid-underlying-trade {
        grid-template-columns: 1.5fr 1fr;
    }

    .dc-contract-card-items-wrapper {
        grid-template-columns: 1.5fr 1fr;
        margin-top: 0.8rem;
    }

    &--mobile {
        .dc-contract-card {
            padding: 1.5rem 3.4rem;
        }

        &--negative {
            font-weight: bold;
            color: var(--text-loss-danger);
        }
    }
}

.run-panel {
    &-tab {
        &__content {
            .summary-panel-inactive {
                color: var(--text-general);
                font-size: 14px;
                line-height: 2rem;
                margin: auto;
                padding: 0 3rem;
                text-align: center;

                &__strong {
                    font-weight: bold;
                }
            }
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #rotate-icon {
        margin: 0 0 2rem;
        animation: rotate 2s linear infinite;
    }
}
