.app-header {
    &__logo {
        padding-inline-start: 1.2rem;
        padding-inline-end: 2rem;
        border-inline-end: 1px solid var(--general-section-1);
        height: 32px;
        display: flex;
        align-items: center;
    }
}
