@use 'components/shared/styles/constants' as *;
@use 'components/shared/styles/mixins' as *;

.app-header {
    &__account-settings {
        padding-inline-end: 1.2rem;
        border-inline-end: 0.1rem solid var(--general-section-1);
    }

    &__account-settings,
    .notifications__wrapper,
    &__menu {
        svg > path,
        svg > g > path {
            fill: var(--text-prominent);
        }
    }
}

.account-switcher {
    &__item {
        &--disabled {
            opacity: 0.32;
        }
    }

    &-footer {
        background: var(--general-main-1);

        &__actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;

            &--hide-manage-button {
                justify-content: flex-end;
            }

            .manage-button {
                background: none;
                border: 1px solid var(--button-secondary-default);

                &:hover {
                    background-color: unset !important;
                }

                span {
                    color: var(--text-prominent);
                    font-size: var(--text-size-xs);
                    cursor: pointer;
                    font-weight: 400;
                }
            }
        }
    }
}

.derivs-secondary-tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--general-main-1);
}

.deriv-account-switcher {
    &-item {
        &__balance {
            button {
                border-width: 1px;
                height: 2.4rem;
                min-width: 4.8rem;

                span {
                    color: var(--text-prominent) !important;
                }
            }
        }
    }

    &__button {
        margin-inline-end: 0.8rem;

        @include mobile-or-tablet-screen {
            margin-inline-end: 0;
        }

        .deriv-context-menu {
            box-shadow: 0 0 2px 0 var(--du-shadow-box, #00000014);
        }

        .deriv-account-switcher__balance + svg > path {
            fill: var(--text-general);
        }
    }

    &__balance {
        padding: 0 1rem 0.1rem 0;
    }

    &__list {
        &.account-switcher-panel {
            padding: 2rem 0.8rem 1rem;

            .account-switcher-panel__no-eu-accounts {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .add-button {
                    background: none;

                    span {
                        color: #000;
                        font-size: 12px;
                        border: solid 2px var(--text-disabled-1);
                        padding: 0.1rem 1.6rem;
                        border-radius: 0.5em;
                        cursor: pointer;
                    }
                }

                .deriv-account-switcher-item:hover,
                .deriv-account-switcher-item--active {
                    background-color: unset;
                }
            }
        }

        .deriv-accordion {
            &__content {
                background: unset;
            }

            &__text {
                margin-top: 1rem;
            }
        }
    }

    &__title {
        padding: 0 16px 12px;
    }

    &__container--mobile {
        min-height: auto;
    }

    &__container {
        max-height: 80vh;
        overflow: auto;
        background: var(--general-main-1);
    }

    &__logout {
        align-items: center;
        display: flex;
        grid-column: 2 / 3;
        justify-content: flex-end;
        justify-self: end;
        padding: 1.6em 1.3em;

        &-text {
            margin-inline-end: 1rem;
            font-size: var(--text-size-xs);
        }
    }

    &__footer {
        padding: 0;
        display: block;
    }
}

.languages-modal {
    background: var(--general-section-1);

    .deriv-modal__header {
        border-bottom: 2px solid var(--general-section-5);
    }

    .deriv-modal__close-icon {
        path {
            fill: var(--text-prominent);
        }
    }

    .deriv-text {
        color: var(--text-prominent) !important;
    }
}

.auth-actions {
    display: flex;
    padding-block: 8px;

    button {
        font-weight: 400;
        margin-right: 1.6rem;
    }
}

.deposit-button,
.manage-funds-button {
    margin-inline-end: 1.6rem;
}
