@use 'components/shared/styles/constants' as *;
@use 'components/shared/styles/mixins' as *;

.app-header {
    &__account-settings {
        padding-inline-end: 1.2rem;
        border-inline-end: 0.1rem solid var(--general-section-1);
    }

    &__account-settings,
    .notifications__wrapper,
    &__menu {
        svg > path,
        svg > g > path {
            fill: var(--text-prominent);
        }
    }
}

.account-switcher {
    &__item {
        &--disabled {
            opacity: 0.32;
        }
    }

    &-footer {
        background: var(--general-main-1);
    }
}

.derivs-secondary-tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--general-main-1);
}

.deriv-account-switcher {
    &__button {
        margin-inline-end: 0.8rem;

        .deriv-context-menu {
            box-shadow: 0 0 2px 0 var(--du-shadow-box, #00000014);
        }

        .deriv-account-switcher__balance + svg > path {
            fill: var(--text-general);
        }
    }

    &__balance {
        padding: 0 1rem 0.1rem 0;
    }

    &__list {
        &.account-switcher-panel {
            padding: 2rem 0.8rem 1rem;
        }

        .deriv-accordion {
            &__content {
                background: unset;
            }

            &__text {
                margin-top: 1rem;
            }
        }
    }

    &__title {
        padding: 0 16px 12px;
    }

    &__container--mobile {
        max-height: 90vh;
        min-height: 340px;
    }

    &__container {
        max-height: 80vh;
        overflow: auto;
        background: var(--general-main-1);
    }

    &__logout {
        align-items: center;
        display: flex;
        grid-column: 2 / 3;
        justify-content: flex-end;
        justify-self: end;
        padding: 1.6em 1.3em;

        &-text {
            margin-inline-end: 1rem;
            font-size: var(--text-size-xs);
        }
    }

    &__footer {
        padding: 0;
        display: block;
    }
}

.languages-modal {
    background: var(--general-section-1);

    .deriv-modal__header {
        border-bottom: 2px solid var(--general-section-5);
    }

    .deriv-modal__close-icon {
        path {
            fill: var(--text-prominent);
        }
    }

    .deriv-text {
        color: var(--text-prominent) !important;
    }
}

.auth-actions {
    display: flex;
    padding-block: 8px;

    button {
        font-weight: 400;
        margin-right: 1.6rem;
    }
}

.deposit-button {
    margin-inline-end: 1.6rem;
}
