@use 'components/shared/styles/mixins' as *;

.announcements {
    position: absolute;
    inset-inline-end: 2.4rem;
    top: 1.8rem;
    z-index: 1;

    @include mobile-or-tablet-screen {
        inset-inline-end: 1.6rem;
    }

    &__button {
        @include flex-center;

        padding: 0.8rem 1.4rem;
        border: none;
        outline: none;
        border-radius: 2.4rem;
        background-color: var(--general-section-1);
        cursor: pointer;

        @include mobile-or-tablet-screen {
            height: 3.2rem;
            width: 3.2rem;
            line-height: 3.6rem;
            text-align: center;
            padding: 0;
        }
    }

    &__icon {
        height: 2.4rem;
        width: 2.4rem;

        @include mobile-or-tablet-screen {
            height: 2.6rem;
            width: 2.6rem;
        }
    }

    &__label {
        margin-inline-start: 0.4rem;
    }

    &__amount {
        background-color: var(--status-danger);
        border-radius: 0.9rem;
        height: 1.8rem;
        width: 1.8rem;
        margin-inline-start: 0.4rem;
        color: var(--brand-white);
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile-or-tablet-screen {
            position: absolute;
            bottom: 2.1rem;
            left: 1.8rem;
        }
    }
}

.notifications {
    min-height: 53.6rem !important;
    background-color: var(--general-main-2);
    border-radius: 0;

    @include mobile-or-tablet-screen {
        height: 100svh;
    }

    &__wrapper {
        padding-inline-start: 0.5rem;
        border-inline-start: 1px solid var(--general-section-1);
        border-width: 1px;
        margin-inline-end: 1rem;

        &--desktop,
        &--tablet {
            z-index: 10;
            top: 5rem;
            right: 0;
            position: absolute;
            width: 40rem;

            @include rtl {
                inset-inline-start: -28rem;

                @include tablet-screen {
                    inset-inline-start: -37rem;
                }
            }
        }

        &--tablet {
            height: auto;

            @include rtl {
                right: -37rem;
            }
        }

        &--mobile {
            .deriv-modal {
                &__header {
                    border-bottom: 1px solid var(--general-section-6);

                    @include is-RTL {
                        .deriv-modal__close-icon {
                            margin-inline: revert;
                        }
                    }
                }

                &__footer {
                    border-top: 1px solid var(--general-section-6);
                }
            }
        }

        .deriv-text {
            font-weight: bold;
        }

        .deriv-context-menu {
            box-shadow: 0 3.2rem 6.4rem 0 #0e0e0e24;
        }
    }

    .deriv-text {
        color: var(--text-prominent);
    }

    .notification {
        --notification-icon-color: rgb(44 154 255 / 8%);

        @include flex-center;

        justify-content: start;
        position: relative;
        height: 9.8rem;
        border-radius: none;
        box-shadow: none;
        background-color: var(--general-main-2);
        overflow: hidden;

        &:after {
            background-color: var(--general-section-6);
            bottom: 0;
            content: '';
            height: 0.1rem;
            position: absolute;
            width: 100%;
            left: 0;
            z-index: 1;
            right: 0;
            margin-left: 16%;
        }

        &:not(:last-child) {
            margin-bottom: 0;
        }

        @include mobile-or-tablet-screen {
            max-width: 100%;
        }

        &__container {
            align-items: center;
        }

        &__button {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
            cursor: pointer;
        }

        &__title {
            .dc-text {
                color: var(--text-prominent);
            }
        }

        &__message {
            .deriv-text {
                display: flex;
                justify-content: center;
                flex-direction: column;

                .dc-text {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 32rem;

                    @include mobile-or-tablet-screen {
                        width: 28rem;
                    }
                }
            }
        }

        &__icon {
            position: relative;
            width: 3.2rem;
            height: 3.2rem;
            text-align: center;
            background-color: var(--notification-icon-color);
            border-radius: 1.8rem;
            align-self: flex-start;
            margin-top: 0.7rem;

            &--indicator {
                position: absolute;
                top: 0;
                right: 0;
                width: 0.8rem;
                height: 0.8rem;
                background-color: var(--status-danger);
                border-radius: 4px;
            }
        }

        &__text {
            margin-inline-start: 1.6rem;

            h3 {
                @include is-RTL {
                    text-align: right;
                }
            }
        }
    }

    &__footer {
        padding: 0 !important;

        &__clear-button {
            height: 4rem;
            margin: 1.6rem;
            cursor: pointer;
            color: var(--icon-black-plus);

            @include mobile-or-tablet-screen {
                width: 92%;
                justify-content: center;
            }
        }

        &-box {
            box-shadow: 0 1px var(--general-section-6) inset;
        }
    }

    &__header-desktop {
        padding: 1.6rem 0;
        border-bottom: 1px solid var(--general-section-6);
        justify-content: left;
        padding-inline-start: 2rem !important;

        @include rtl {
            justify-content: right;
        }
    }
}
