.download {
    &__container {
        display: flex;
        padding: 12px;
        padding-left: 16px;
        border: solid 1px var(--general-section-1);
        &__view-detail-button {
            height: 3.2rem;
        }
    }
}

.run-panel__info {
    .download__button {
        height: 3.2rem;
    }
}
