.deriv-platform-switcher {
    &__button {
        padding-inline-start: 1.6rem;
        padding-inline-end: 1.6rem;

        svg > g > path,
        &-chevron > path {
            fill: var(--text-prominent);
        }
    }
}
