@use 'components/shared/styles/constants' as *;
@use 'components/shared/styles/mixins' as *;

.account-switcher-wallet-list {
    padding: 0.4rem 0.8rem;
    border-bottom: 1px solid var(--general-hover);

    @include mobile-screen {
        padding: 0;
        overflow: auto;
        border-bottom: 0;
    }
}
